body {
    margin: 2%;
    /* width:2500px;
    height: 1500px; */
}

.title{
    text-align: center;
    margin:2%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
  }

.recommendation-div {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.selectdiv {
    display: flex;
    justify-content: space-around;
} 
#selectsongindex {
    width:50%;
}


.radiochart-div {
    grid-column: 3;
  grid-row: 1;
}

.barchart-div {
    grid-column: 1;
    grid-row: 3;
}

.piechart-div{
  grid-column: 3;
  grid-row: 2;
}

.linechart-div{
    grid-column: 2/4;
  grid-row: 3;
}

#recommendationchart-div{
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    border-style: double;
    margin:2%;
}

